doctype html
html
	head
		title Uboxie
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/material-wfont.min.css")
		link(rel="stylesheet", href="/css/material.min.css")
		link(rel="stylesheet", href="/css/ripples.min.css")
		link(rel="stylesheet", href="/css/jquery.custom-scrollbar.css")
		link(rel='stylesheet', href='/css/style.css')
	body
		block content
	include ../includes/scripts
	block custom-scripts