.nav-transp
	.container
		.add-group-ctn
			a.btn.btn-primary(href='/groups/new')
				.icon-preview
					i.mdi-content-add-circle-outline.icon-group-add-btn
						span New group
		.search-group-ctn
			input.form-control.floating-label#focusedInput(placeholder="Find group" type="text")