script(src="https://code.jquery.com/jquery-1.11.1.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")
script(src="/js/jquery.rdio.js")
script(src="/js/main.js")
script(src="/js/streamApiInteraction.js")
script(src="/js/playback.js")
script(src="/js/masonry.pkgd.min.js")