script(src="https://code.jquery.com/jquery-1.11.1.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/js/material.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/js/ripples.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
script(src="/js/dz.js")
script(src="/js/jquery.slimscroll.min.js")
script(src="https://cdn.socket.io/socket.io-1.2.1.js")
script.
	var socket = io();
script(src="/js/helpers.js")
script(src="/js/streamApiInteraction.js")
script(src="/js/masonry.pkgd.min.js")
script(src="/js/playback.js")
script.
	$.material.init();