extends ../default/layout
block content
	include ../includes/nav-transp
	.container
		.row
			.group.col-lg-12.col-lg-md-12
				.group-menu
					h4.list-header Groups
					ul.list-group
						li.list-group-item
							a.active(href="#") All
						li.list-group-item 
							a(href="#") Latest
						li.list-group-item
							a(href="#") Your groups
						li.list-group-item
							a(href="#") Trending
						li.list-group-item
							a(href="#") Top rated
				.col-lg-2.col-md-2
				#group-container.groups-ctn.col-lg-10.col-md-10
					each item in groups
						.col-lg-5.col-md-5
							div.item-in-group
								.group-main-info
									h4.group-name= item.name 
								.group-image-ctn
									img.img-responsive.group-image(src= item.currentSong.icon || "/img/default-icon.jpg" alt="Group cover image")
									.image-overlay
								.owner-info
									.owner-basic
										span.owner-desc Created by
										span.owner-name= item.owner.name
									.owner-avatar
										img.img-responsive.img-circle(src="https://api.deezer.com/album/299519/image" alt="Avatar")
								.group-info
									.listeners-ctn
										span.listeners 1 
										span.listeners-desc listener(s)
									.group-details-ctn
										a.btn.btn-primary(href='group/'+ item._id) 
											.icon-preview
												i.mdi-av-play-circle-outline.icon-group-btn
													span JOIN GROUP									
block custom-scripts
	script.
		$(function(){

			socket.on('newGroup', function(data){
				if(typeof data == "string"){
					data=JSON.parse(data);
				}
				
				var imageUri = "/img/default-icon.jpg";

				if(data.currentSong)
					imageUri = data.currentSong.icon || "/img/default-icon.jpg";


				var toAppend ='<div class="col-lg-5 col-md-5"><div class="item-in-group"><div class="group-main-info"><h4 class="group-name">'
				+ data.name + '</h4></div><div class="group-image-ctn"><img src="' + imageUri + '" alt="Group cover image" class="img-responsive group-image">'
				+ '<div class="image-overlay"></div></div><div class="owner-info"><div class="owner-basic"><span class="owner-desc">Created by</span><span class="owner-name">owner1</span>'
				+ '</div><div class="owner-avatar"><img src="https://api.deezer.com/album/299519/image" alt="Avatar" class="img-responsive img-circle"></div></div><div class="group-info">'
				+ '<div class="listeners-ctn"><span class="listeners">1 </span><span class="listeners-desc">listener(s)</span></div><div class="group-details-ctn">'
				+ '<a href="group/'+ data._id +'" class="btn btn-primary"> <div class="icon-preview"><i class="mdi-av-play-circle-outline icon-group-btn"><span>JOIN GROUP</span>'
				+ '</i></div></a></div></div></div></div>';

				var container = $('#group-container');

				if(container.length > 0)
					$('#group-container').append(toAppend);
				else
					$('#group-container').append('<div class="col-lg-5 col-md-5">' + toAppend + '</div>');

			});

			//var $container = $('.group-container');

		});
		
		
		// $container.masonry({
		//   columnWidth: 200,
		//   itemSelector: '.item-in-group'
		// });