extends ../default/layout
block content
	include ../includes/groups-header
	.container
		.row
			.col-lg-12.col-lg-md-12
				.groups-wrapper
					.groups-sidebar-wrapper
						img.img-responsive.group-image(src="/img/uboxie-navbar.jpg" alt="Uboxie")				
						ul.sidebar-nav.list-group
							li.group-list-item.list-group-item.create-group
								a(href="/groups/new")
									i.fa.fa-plus 
									| Create group					
							li.group-list-item.list-group-item
								a(href="#") 
									i.fa.fa-align-justify
									| All
							li.group-list-item.list-group-item 
								a(href="#") 
									i.fa.fa-clock-o
									| Latest
							li.group-list-item.list-group-item
								a(href="#") 
									i.fa.fa-bookmark
									| Your groups
							li.group-list-item.list-group-item
								a(href="#") 
									i.fa.fa-fire
									| Trending
							li.group-list-item.list-group-item
								a(href="#") 
									i.fa.fa-star
									| Top rated
					.groups-page-content-wrapper
						.container-fluid
							.row
								include ../includes/nav-transp
								.col-lg-12.col-md-12
									each item in groups
										div.item-in-group.col-lg-4.col-md-4						
											.group-info-ctn
												.group-info
													.group-cover
														img.img-responsive.group-image(src= item.currentSong.icon || "/img/default-icon.jpg" alt="Group cover image")
													.group-desc
														.group-title
															h4.group-name= item.name 
														.owner-info
															.owner-basic
																span.owner-desc Owner:
																br
																span.owner-name= item.owner.name
															.listeners-ctn
																span.listeners 2 
																span.listeners-desc listeners					
												.join-group
													a.btn.btn-join-group(href='group/'+ item._id) 							
														i.fa.fa-music
														span.join-group-text Join group								
block custom-scripts
	script.
		$(function(){

			socket.on('newGroup', function(data){
				if(typeof data == "string"){
					data=JSON.parse(data);
				}
				
				var imageUri = "/img/default-icon.jpg";

				if(data.currentSong)
					imageUri = data.currentSong.icon || "/img/default-icon.jpg";

				var toAppend ='<div class="col-lg-5 col-md-5"><div class="item-in-group"><div class="group-main-info"><h4 class="group-name">'
				+ data.name + '</h4></div><div class="group-image-ctn"><img src="' + imageUri + '" alt="Group cover image" class="img-responsive group-image">'
				+ '<div class="image-overlay"></div></div><div class="owner-info"><div class="owner-basic"><span class="owner-desc">Created by</span><span class="owner-name">'+data.owner.name+'</span>'
				+ '</div><div class="owner-avatar"><img src="https://api.deezer.com/album/299519/image" alt="Avatar" class="img-responsive img-circle"></div></div><div class="group-info">'
				+ '<div class="listeners-ctn"><span class="listeners">1 </span><span class="listeners-desc">listener(s)</span></div><div class="group-details-ctn">'
				+ '<a href="group/'+ data._id +'" class="btn btn-primary"> <div class="icon-preview"><i class="mdi-av-play-circle-outline icon-group-btn"><span>JOIN GROUP</span>'
				+ '</i></div></a></div></div></div></div>';

				var container = $('#group-container');

				if(container.length > 0)
					$('#group-container').append(toAppend);
				else
					$('#group-container').append('<div class="col-lg-5 col-md-5">' + toAppend + '</div>');

			});

			//var $container = $('.group-container');

		});
		
		
		// $container.masonry({
		//   columnWidth: 200,
		//   itemSelector: '.item-in-group'
		// });