extends ../default/layout
block content
	div.container
		div.group-container(data-group= groupId).col-lg-12.col-md-12
			.row
				.search-container.col-xs-5.col-md-5.col-lg-5
					form(action='', method='POST', role='form', id="searchTrackForm")
						.form-group
							input.form-control(type='text', placeholder='Type song or artist', id="query")
					#result-list
				#playback
				#dz-root
				.col-md-1.col-lg-1
				#group-queue.list-group.col-md-6.col-lg-6
	include ../includes/player
block custom-scripts
	script.
		Uboxie.PlaybackModule.instanciatePlayback("#playback");
		$(document).on('keyup','#query', function(e){
			e.preventDefault();
			var query=$(this).val().trim();
			if(query==""){
				$('#result-list').empty();
			}
			if(query.length>=3){
				Uboxie.StreamApiModule.getSearchResults(query).done(function(data){
					if(data.status){
						Uboxie.StreamApiModule.createSearchResultList(data.result,"#result-list",{
							trackNameKey:"name",
							artistKey:"artist",
							iconKey:"icon",
							albumKey:"info",
							trackKey:"key",
							trackDuration:"duration",

						});
					}else{
						alert("Error while handling request. Please log in again.");
					}
				});
			}
		});
		$(document).on('click','.result-item',function(e){
			e.preventDefault();
			var self=$(this),
				track={
					key:self.data('key'),
					name:self.find('.song-title').text(),
					duration:self.data('duration'),
					info:self.find('.album-info').text(),
					groupId:$('.group-container').data('group'),
					startTime:null,
					icon:self.find('.album-icon').attr('src'),
					artist:self.find('.song-author').text()
				};
			Uboxie.PlaybackModule.addToGroupQueue(track);
		})
		window.onbeforeunload=function(e){
			 var message = "This page is asking you to confirm that you want to leave - data you have entered may not be saved.",
			  e = e || window.event;
			  if (e) {
			    e.returnValue = message;
			  }
			  return message;
		}