extends ../default/layout
block content
	div.container
		div.group-container(data-group= groupId).col-lg-12.col-md-12
			.row
				.music-manager
					.search-container.col-xs-7.col-md-7.col-lg-7
						form(action='', method='POST', role='form', id="searchTrackForm")
							.form-group
								input.form-control(type='text', placeholder='Type song or artist', id="query")
						.results-wrapper
							#result-list
					.group-music-list.col-md-7.col-lg-7
						#group-queue.list-group.default-skin
				#playback
				#dz-root
	include ../includes/player
block custom-scripts
	script.
		$.get('/api/1/user/current',function(data){
			console.log('user');
			console.log(data);
			if(data.status){
				socket.emit('joinGroup',$('.group-container').data('group'),data.message.name);
			}
		});
		$(function(){
			Uboxie.PlaybackModule.instanciatePlayback("#playback");
			socket.on('updateGroupQueue',function(data){
				if(typeof data == "string"){
					data=JSON.parse(data);
				}
				console.log(data);
				Uboxie.PlaybackModule.updateGroupQueue(data);
			});
			$('#group-queue').slimScroll({
					height: '400px',
					alwaysVisible: true,
					size: '5px'	
			});
			$('#result-list').slimScroll({
					height: '400px',
					alwaysVisible: true,
					size: '5px'		
			});
			$(window).keydown(function(event){
				if(event.keyCode == 13) {
					event.preventDefault();
					return false;
				}
			});
			$(document).on('keyup','#query', _.debounce(function(){
				var query=$(this).val().trim();	
				if(query==""){
					$('#result-list').empty().hide().parent('.slimScrollDiv').hide();
				}
				if(query.length>=3){
						Uboxie.StreamApiModule.getSearchResults(query).done(function(data){
							if(data.status){
								Uboxie.StreamApiModule.createSearchResultList(data.result,"#result-list",{
									trackNameKey:"name",
									artistKey:"artist",
									iconKey:"icon",
									albumKey:"info",
									trackKey:"key",
									trackDuration:"duration",

								});
							}else{
								alert("Error while handling request. Please log in again.");
								window.location.href='http://localhost/login';
							}
						});
				}
			},500));
			$(document).on('click','.result-item',function(e){
				e.preventDefault();
				var _this=$(this),
					track={
						key:_this.data('key'),
						name:_this.find('.song-title').text(),
						duration:_this.data('duration'),
						info:_this.find('.album-info').text(),
						groupId:$('.group-container').data('group'),
						startTime:null,
						icon:_this.find('.album-icon').attr('src'),
						artist:_this.find('.song-author').text()
					};
				$.ajax({
					url:'/api/1/group/' + track.groupId + '/state/preserve',
					data:track,
					type:'POST',
					success:function(data){
						console.log('data addTOGroup');
						console.log(data);
						socket.emit('songAdded', data);
						console.log('Nakon eventa');
						
					},
					error:function(xHr,status,error){
						console.log(error);
						console.log(status);
					}
				});

			});
			window.onbeforeunload=function(e){
				 var message = "This page is asking you to confirm that you want to leave - data you have entered may not be saved.",
				  e = e || window.event;
				  if (e) {
					e.returnValue = message;
				  }
				  return message;
			}
		});
	
		

