extends ../default/layout
block content
	div.container
		div.group-container(data-group= groupId).col-lg-12.col-md-12
			.row
				.search-container.col-xs-5.col-md-5.col-lg-5
					form(action='', method='POST', role='form', id="searchTrackForm")
						.form-group
							input.form-control(type='text', placeholder='Type song or artist', id="query")
					#result-list
				#playback
				#dz-root
				.col-md-1.col-lg-1
				#group-queue.list-group.col-md-12.col-lg-12.default-skin
	include ../includes/player
block custom-scripts
	script.
		$(function(){
			Uboxie.PlaybackModule.instanciatePlayback("#playback");
			socket.on('updateGroupQueue',function(data){
				console.log('Client track');        
				Uboxie.PlaybackModule.updateGroupQueue(data);
			});
			$('#group-queue').slimScroll({
					height: '400px',
					alwaysVisible: true,
					size: '5px'	
			});
			$('#result-list').slimScroll({
					height: '400px',
					alwaysVisible: true,
					size: '5px'		
			});
			$(window).keydown(function(event){
				if(event.keyCode == 13) {
					event.preventDefault();
					return false;
				}
			});
			$(document).on('keyup','#query', _.debounce(function(){
				var query=$(this).val().trim();
				
				if(query==""){
					$('#result-list').empty().hide().parent('.slimScrollDiv').hide();
				}
				if(query.length>=3){
						Uboxie.StreamApiModule.getSearchResults(query).done(function(data){
							if(data.status){
								Uboxie.StreamApiModule.createSearchResultList(data.result,"#result-list",{
									trackNameKey:"name",
									artistKey:"artist",
									iconKey:"icon",
									albumKey:"info",
									trackKey:"key",
									trackDuration:"duration",

								});
							}else{
								alert("Error while handling request. Please log in again.");
							}
						});
				}
			},500));
			$(document).on('click','.result-item',function(e){
				e.preventDefault();
				var _this=$(this),
					track={
						key:_this.data('key'),
						name:_this.find('.song-title').text(),
						duration:_this.data('duration'),
						info:_this.find('.album-info').text(),
						groupId:$('.group-container').data('group'),
						startTime:null,
						icon:_this.find('.album-icon').attr('src'),
						artist:_this.find('.song-author').text()
					};
				Uboxie.PlaybackModule.addToGroupQueue(track).done(function(data) {
					socket.emit('songAdded', data);
				});
			});
			window.onbeforeunload=function(e){
				 var message = "This page is asking you to confirm that you want to leave - data you have entered may not be saved.",
				  e = e || window.event;
				  if (e) {
					e.returnValue = message;
				  }
				  return message;
			}
			$.get('/api/1/user/current',function(data){
				if(data.status){
					socket.emit('joinGroup',$('.group-container').data('group'),data.message.name);
				}
			});

		});
	
		

