extends ../default/layout
block content
	div.group-container(data-group= groupId)
		.row
			.search-container.col-xs-4.col-md-4
				form(action='', method='POST', role='form', id="searchTrackForm")
					.form-group
						input.form-control(type='text', placeholder='Find song', id="query")
				#result-list
			#playback
			#group-queue.list-group.col-md-5
block custom-scripts
	script.
		App.PlaybackModule.instanciatePlayback("#playback");
		$(document).on('keyup','#query', function(e){
			e.preventDefault();
			var query=$(this).val().trim();
			if(query==""){
				$('#result-list').empty();
			}
			if(query.length>=3){
				App.StreamApiModule.getSearchResults(query).done(function(data){
					App.StreamApiModule.createSearchResultList(data.result,"#result-list",{
						trackNameKey:"name",
						artistKey:"artist",
						iconKey:"icon",
						albumKey:"album",
						trackKey:"key",
						trackDuration:"duration",

					});
				});
			}
		});
		$(document).on('click','.result-item',function(e){
			e.preventDefault();
			var track={
				trackKey:$(this).data('key'),
				title:$(this).find('.song-title').text(),
				duration:$(this).data('duration'),
				info:$(this).find('.song-info').text(),
				groupId:$('.group-container').data('group'),
				startTime:null
			};
			App.PlaybackModule.addToGroupQueue(track);
			// playback.playTrack(trackKey);
		})