extends ../default/layout
block content
	div.container
		div.group-container(data-group= groupId)
			.row
				.search-container.col-xs-4.col-md-4
					form(action='', method='POST', role='form', id="searchTrackForm")
						.form-group
							input.form-control(type='text', placeholder='Find song', id="query")
					#result-list
				#playback
				#dz-root
				#group-queue.list-group.col-md-5
	include ../includes/player
block custom-scripts
	script.
		Uboxie.PlaybackModule.instanciatePlayback("#playback");
		$(document).on('keyup','#query', function(e){
			e.preventDefault();
			var query=$(this).val().trim();
			if(query==""){
				$('#result-list').empty();
			}
			if(query.length>=3){
				Uboxie.StreamApiModule.getSearchResults(query).done(function(data){
					Uboxie.StreamApiModule.createSearchResultList(data.result,"#result-list",{
						trackNameKey:"name",
						artistKey:"artist",
						iconKey:"icon",
						albumKey:"album",
						trackKey:"key",
						trackDuration:"duration",

					});
				});
			}
		});
		$(document).on('click','.result-item',function(e){
			e.preventDefault();
			var self=$(this),
				track={
					key:self.data('key'),
					name:self.find('.song-title').text(),
					duration:self.data('duration'),
					info:self.find('.song-info').text(),
					groupId:$('.group-container').data('group'),
					startTime:null,
					icon:self.find('.album-icon').attr('src'),
					artist:self.find('.song-author').text()
				};
			Uboxie.PlaybackModule.addToGroupQueue(track);
			// playback.playTrack(trackKey);
		})