extends ../default/layout
block content
	.login-msg
		h1 Will you be so kind and connect with your
			br 
			span.login-deezer Deezer 
			span account?
		span.register-deezer If you don't have an account, you can create one for FREE
		br
		a.btn.btn-success.deezer-btn(href="#{authLink}") Connect with Deezer