extends ../default/layout
block content
	form(action='/api/1/users/login' method='POST', id='newGroupForm')
		.form-group
			input.form-control(type='email', placeholder='Email...', id='email' name='email')
			input.form-control(type='password', placeholder='Password...', id='password' name='password')
			input.form-control.btn-primary(type='submit', value='Login', id="sbn-btn")